button.button {
  position: relative;
  align-self: center;
  padding: .75rem 1.5rem;
  background: transparent;
  border: 1px solid $grey;
  border-radius: 4px;
  font-family: inherit;
  font-size: 1rem;
  letter-spacing: .1rem;
  color: #fff;
  transition: all .3s;
  cursor: pointer;
  z-index: 1;
  &::before, &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.08);
    border-radius: 4px;
    opacity: 0;
    transition: all .3s;
    z-index: -1;
  }
  &::before {
    border: 1px solid $purple;
    transform: scaleY(2);
  }
  &::after {
    transform: scale(0);
    z-index: -1;
  }
  &:hover,
  &.checked {
    border: 1px solid $light-blue;
    color: $light-blue;
    &::before {
      opacity: 1;
      transform: scaleY(1);
    }
    &::after {
      opacity: 1;
      transform: scaleY(1);
    }
  }
}
