.carousel {
  position: relative;
  max-width: 90vw;
  border: 1px solid $light-blue;
  border-radius: 40px;
  box-shadow: $box-shadow;
  padding: 2rem;
  span {
    display: flex;
    justify-content: center;
  }
  .prev-button, .next-button {
    position: absolute;
    top: 50%;
    cursor: pointer;
  }
  .prev-button {
    left: 0;
    transform: translate(-50%, -50%);
  }
  .next-button {
    right: 0;
    transform: translate(50%, -50%);
  }
}