.container {
  position: fixed;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  font-size: 12px;
  animation: appear .9s forwards;
}

.circle-container {
  position: absolute;
  width: calc(#{$cube-size} * 2);
  height: calc(#{$cube-size} * 2);
  border: 1px solid $purple;
  box-shadow: 0 0 10px 0 #FFF, 0 0 24px 4px $purple;
  border-radius: 50%;
}

.circle-1 {
  transform-style: preserve-3d;  
  animation: circle-1-spin 15s infinite;
}

.circle-2 {
  transform-style: preserve-3d;  
  animation: circle-2-spin 15s infinite;
}

.cube {
  position: relative;
  width: $cube-size;
  height: $cube-size;
  transform-style: preserve-3d;  
  animation: cube-spin 1000s infinite linear;
}

.side {
  position:absolute;
  width: $cube-size;
  height: $cube-size;
  border: 1px solid $purple;
  box-shadow: 0 0 10px 0 #FFF, 0 0 24px 4px $purple;
}

#front {
  background: transparent;
  transform: translateZ(calc(#{$cube-size} / 2));
}
#top {
  background: transparent;
  transform: rotateX(-270deg) translateY(calc(-1 * (#{$cube-size} / 2 ) ) );
  transform-origin: top center;
}
#bottom {
  background: transparent;  
  transform: rotateX(270deg) translateY(calc(#{$cube-size} / 2) );
  transform-origin: bottom center; 
}
#right {
  background: transparent;
  transform: rotateY(-270deg) translateX(calc(#{$cube-size} / 2) );
  transform-origin: top right;
}
#left {
  background: transparent;
  transform: rotateY(270deg) translateX(calc(-1 * (#{$cube-size} / 2 ) ));
  transform-origin: center left;
}
#back {
  background: transparent;
  transform: rotateY(-180deg) translateZ(calc((#{$cube-size} / 2 ) ));
}

