.PortfolioProject {
  position: relative;
  display: flex;
  justify-content: space-between;
  max-width: 90vw;
  margin: 0;
  .project-header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-shadow: $text-shadow;
    .title {
      display: flex;
      justify-content: space-around;
      align-items: baseline;
      h2 {
        margin-top: 0;
      }
    }
    .thumbnail {
      width: 16rem;
      height: 16rem;
      border-radius: 50%;
      object-fit: cover;
      border: 1px solid $light-blue;
      box-shadow: $box-shadow;
    }
    .icons {
      display: flex;
      justify-content: space-around;
      gap: .5rem;
    }
    i {
      height: 16px;
      width: 16px;
    }
  }
  .project-infos {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: .5rem 2rem;
    white-space: normal;
    .source-code {
      display: flex;
      justify-content: space-around;
      gap: 2rem;
      text-decoration: underline;
      a:hover {
        text-shadow: $text-shadow;
      }
    }
    .specs {
      display: flex;
      justify-content: space-around;
      flex: 1;
      h3 {
        text-align: center;
      }
      .languages, .skills {
        flex: 1;
      }
      .skills-list, .languages-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;
      }
    }
    ul {
      margin: 0;
      padding: 0;
    }
  }
}