.stars {
  position: fixed;
  height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: -10;
  span {
    animation: fadeOut 15s forwards;
    animation-delay: 1600ms;
  }
}

@keyframes fadeOut {
  0% {opacity: 0;}
  10% {opacity: 1;}
  60% {opacity: 1;}
  100% {opacity: 0;}
}
