.contact {
  height: 95vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  padding: 1.5em;
  @include glass;
  h1 {
    margin-top: 0;
  }
  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap : 1.5em;
    span {
      text-align: center;
      margin-top: -1.4em;
    }
    .name, .email, .message {
      display: flex;
      justify-content: space-between;
      gap: .6em;
      @media screen and (max-width: 589px) {
        flex-direction: column;
        gap: 1em;
        justify-content: center;
        align-items: center;
      }
    }
    label {
      padding-top: 0.5em;
    }
    textarea, input {
      width: 360px;
      padding: 0.5em;
      border-radius: .5em;
      border: 1px solid $grey;
      background: rgba(255, 255, 255, 0.08);
      &:focus {
        border: 1px solid $light-blue;
        outline: none;
      }
      @media screen and (max-width: 465px) {
        width: 240px;
      }
    }
    textarea {
      height: 130px;
      resize: none;
    }
  }
  a {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.whatsapp-cta {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 10rem;
  .whatsapp {
    position: relative;
    display: flex;
    gap: 1rem;
    margin: 2rem;
    a {
      z-index: 10;
    }
  }
  .popup {
    position: absolute;
    top: -.5rem;
    left: 1rem;
    padding: .2rem .5rem;
    font-size: .7rem;
    @include glass;
    p {
      margin: 0;
    }
  }
}
