.contact {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  padding: 1.5em;
  @include glass;
  h1 {
    margin-top: 0;
  }
  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap : 1.5em;
    span {
      text-align: center;
      margin-top: -1.4em;
    }
    .name, .email, .message {
      display: flex;
      justify-content: space-between;
      gap: .6em;
    }
    label {
      padding-top: 0.5em;
    }
    textarea, input {
      width: 360px;
      padding: 0.5em;
      border-radius: .5em;
      border: 1px solid $grey;
      background: rgba(255, 255, 255, 0.08);
      &:focus {
        border: 1px solid $light-blue;
        outline: none;
      }
    }
    textarea {
      height: 130px;
      resize: none;
    }
  }
  a {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}