.home {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  .network {
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    gap: 1rem;
    margin: 2rem;
    a {
      z-index: 10;
    }
  }
}