.portfolio {
  position: relative;
  padding: 84px 42px 0 42px;
  &__typedText {
    height: 130px;
  }
  h2 {
    margin-top: 4rem;
  }
  .filters {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
  }
  input {
    display: none;
  }
  label {
    cursor: pointer;
  }
  h1 {
    margin-top: 3.5rem;
  }
  .projects {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 4rem 0;
  }
}