.portfolio {
  position: relative;
  width: 90vw;
  height: 95vh;
  padding: 84px 42px;
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;
  // .wrap {
  //   position: absolute;
  //   top: 50%;
  //   left: 50%;
  //   transform: translate(-50%, -50%);
  // }
  // .projects {
  //   display: grid;
  //   grid-template-columns: repeat(4, 1fr);  
  //   grid-gap: 2rem;
  //   margin-top: 2rem;
  // }
}