$cube-size: 50px;

$purple: #6a21bd;
$night-sky: #010108;
$light-blue: #2DE4FC;
$grey: rgba(255, 255, 255, 0.54);

$text-shadow: 2px 1px 4px $light-blue;
$box-shadow: 0 0 10px 1px #FFF, 0 0 24px 8px $light-blue;

