$cube-size: 50px;

$purple: #6a21bd;
$light-purple: #9453A1;
$night-sky: #1a1a20;
$light-blue: #2DE4FC;
$nav-blue: #7F9BB9;
$grey: rgba(255, 255, 255, 0.54);

$text-shadow: 2px 1px 4px $light-blue;
$box-shadow: 0 0 4px 0 #FFF;

$nav-height: 84px;
$content-width: 900px

