.footer {
  cursor: default;
  bottom: 0;
  width: 100vw;
  height: 50px;
  background: $nav-blue;
  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 2rem;
  }
}

