.navigation {
  position: absolute;
  width: 100vw;
  z-index: 1;
  .navbar {
    display: flex;
    justify-content: space-around;
    width: 100%;
    a {
      padding: 20px 0;
      width: 50%;
      &:hover {
        @include glass;
      }
    }
  }
}