.navigation {
  position: fixed;
  display: flex;
  justify-content: center;
  width: 100vw;
  height: $nav-height;
  background: $nav-blue;
  overflow-x: hidden;
  z-index: 2;
  .navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: $content-width;
    a {
      padding: 20px 0;
      border: 1px solid transparent;
      cursor: pointer;
    }
    .resume {
      background: $light-purple;
      padding: 6px 8px;
      border-radius: 50%;
      transform: scale(1);
      transition: all .3s ease-in-out;
      &:hover {
        transform: scale(1.1);
      }
    }
  }
}