.portfolio {
  position: relative;
  padding-top: 6rem;
  .filters {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
    margin-top: 1rem;
  }
  input {
    display: none;
  }
  label {
    cursor: pointer;
  }
  h1 {
    margin-bottom: 2rem;
  }
  .projects {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 4rem 0;
  }
}