@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Athiti&display=swap');


$font-1 : 'Dancing Script', cursive;
$font-2 : 'Athiti', sans-serif;

// Général
body {
  font-family: $font-2;
  color: #FFF;
  text-align: justify;
}

a {
  text-decoration: none;
  color: inherit;
}

h2, h3 {
  text-shadow: $text-shadow;
}

//Cube
.container {
  font-size: 12px;
}

.navigation {
  letter-spacing: .05rem;
  a {
    text-align: center;
    &:hover {
      text-shadow: 12px 4px 5px rgba(255, 255, 255, 0.66);
    }
  }
  .navActive {
    text-decoration: underline;
    text-shadow: $text-shadow;
    font-size: 1.1rem;
  }
}

.home {
  font-family: $font-1;
  font-size: 20px;
  letter-spacing: .1em;
}

.glitch {
  letter-spacing: .1rem;
  text-shadow: 1px 1px 2px $light-blue;
  &::after {
    color: $purple;
  }
  &::before {
    color: $light-blue;
  }
}

.contact-form {
  h1 {
    text-align: center;
    font-size: 1.5em;
  }
  .form {
    span {
      font-size: .9rem;
    }
    .name, .email, .message {
      &:focus-within {
        color: $light-blue;
      }
    }
    textarea, input {
      color: #FFF;
      font-family: $font-2;
      &::placeholder {
        color: $grey;
        font-family: $font-2;
      }
      &:focus {
        color: $light-blue;
      }
    }
    textarea {
      font-size: 1rem;
    }
  }
  a:hover {
    color: $light-blue;
    text-decoration: underline;
  }

}

.error {
  text-transform: uppercase;
  font-size: 4.2rem;
  letter-spacing: .1rem;
}

.footer {
  text-align: center;
  .content {
    text-shadow: $text-shadow;
  }
}