@import url('https://fonts.googleapis.com/css2?family=Athiti&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Glory&display=swap');



$font-1 : 'Glory', sans-serif;
$font-2 : 'Marcellus', serif;
$font-3 : 'Athiti', sans-serif;

// Général
body {
  font-family: $font-1;
  color: #FFF;
  text-align: justify;
}

a {
  font-family: $font-1;
  text-decoration: none;
  color: inherit;
}

//Cube
.container {
  font-size: 12px;
}

.navigation {
  letter-spacing: .05em;
  font-size: 24px;
  color: #000;
  a:hover {
    font-weight: bold;
  }
  .resume {
    color: #FFF;
  }
}

.glitch {
  letter-spacing: .1rem;
  text-shadow: 1px 1px 2px $light-blue;
  &::after {
    color: $purple;
  }
  &::before {
    color: $light-blue;
  }
}

.contact-form {
  h1 {
    text-align: center;
    font-size: 1.5em;
  }
  .form {
    span {
      font-size: .9em;
    }
    .name, .email, .message {
      &:focus-within {
        color: $light-blue;
      }
    }
    textarea, input {
      color: #FFF;
      font-family: $font-1;
      &::placeholder {
        color: $grey;
        font-family: $font-1;
      }
      &:focus {
        color: $light-blue;
      }
    }
    textarea {
      font-size: 1em;
    }
  }
  a:hover {
    color: $light-blue;
    text-decoration: underline;
  }
  @media screen and (max-height: 720px) {
    font-size: 12px;
  }
}

.error {
  text-transform: uppercase;
  font-size: 4.2em;
  letter-spacing: .1em;
}

.footer {
  color: #000;
}